body{


    
    background-color: rgb(191, 233, 180);
    
}

.lista ul {
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}
.lista li {
   list-style-type: none;
   display: inline;
   padding-right: 5px;
   
}
.imgMenu {
    border-radius: 50%;
    
}
.imgMenuRecetas {
    border-radius: 15%;
    margin-left: 20%;
    margin-bottom: 30px;
    background-color: rgb(138, 192, 88);
    padding: 15px;
}

.listaReceta {
    margin-left: 25%;
   
}
